
    
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
      <title>Gumboot &mdash; Login</title>
      <link rel="icon" type="image/x-icon" href="../assets/img/fav.png">
    
      <!-- General CSS Files -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <!-- CSS Libraries -->
      <link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css">
    
      <!-- Template CSS -->
      <link rel="stylesheet" href="../assets/css/style.css">
      <link rel="stylesheet" href="../assets/css/components.css">
    </head>

    <style>
      .error {
    color: red !important;
  }
    </style>

    <style>
  div#app {
    background: url(/assets/img/hdimage.jpeg);
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
  }
</style>
    <body> 
      <div id="app">
        <section class="section">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                <div class="login-brand">
                  <img src="../assets/img/logo.png" alt="logo" width="300" height="170" class="shadow-light ">
                </div>
                <div class="card card-primary">
                  <div class="card-header"><h4>Sign in</h4></div>
                  <div class="card-body bg-light">
                    <form method="POST" action="/Login" id="addForm" class="needs-validation" novalidate="">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>
                      </div>

                      <div class="form-group">
                          <label>Password</label>
                        <div class="passwordEye">
                          <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                          <i class="fas fa-eye-slash int_eye" id="eye" ></i>
                        </div>
                      </div> 
                      <br>
                      <div class="offset-xl-3" >
                      <div class="form-group">
                        <button type="submit" class="btn btn-info btn-lg btn-block"  tabindex="4">
                          Login
                        </button>
                      </div>
                    </div>
                    </form>
                  </div>
                </div>
                <div class="simple-footer">
                  <div class="footer-left">
                   <div class="bullet"></div> <b>Design By </b><a href="https://cqlsys.com/">Cqlsys Technologies Pvt Ltd</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    
      <!-- General JS Scripts -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
      <script src="../assets/js/stisla.js"></script>
    
      <!-- JS Libraies -->
      <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
      <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    
      <!-- Template JS File -->
      <script src="../assets/js/scripts.js"></script>
      <script src="../assets/js/custom.js"></script>
    
      <!-- Page Specific JS File -->

    </body>
    </html>
    
    <script>
      setTimeout(function(){
        $("div.msg"). fadeOut();
      },3000);

      $('#eye').click(function () {

if ($(this).hasClass('fa-eye-slash')) {

  $(this).removeClass('fa-eye-slash');

  $(this).addClass('fa-eye');

  $('#password').attr('type', 'text');

} else {

  $(this).removeClass('fa-eye');

  $(this).addClass('fa-eye-slash');

  $('#password').attr('type', 'password');
}
});

    </script>

<script>
  function togglePasswordVisibility() {
    var passwordInput = document.getElementById("password");
    var eyeIcon = document.getElementById("eye");

    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      eyeIcon.classList.remove("fa-eye-slash");
      eyeIcon.classList.add("fa-eye");
    } else {
      passwordInput.type = "password";
      eyeIcon.classList.remove("fa-eye");
      eyeIcon.classList.add("fa-eye-slash");
    }
  }
</script>


<script>
  $(document).ready(function() {

    jQuery.validator.addMethod("noSpace", function(value, element) {
        return value == '' || value.trim().length != 0;
      },

      jQuery.validator.addMethod("emailExt", function(value, element, param) {
        return value.match(/^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/);
      }, 'Your e-mail is wrong'),

      $('form[id="addForm"]').validate({

        keypress: function(element) {

          var element_id = $(element).attr('id');
          if (this.settings.rules[element_id].keypress !== false) {
            $(element).valid();
          }
        },

        rules: {
          email: {
            required: true,
            emailExt: true
          },
          password: {
            required: true,
            minlength: 5
          },
        
        },
        messages: {

          email: {
            required: " This filed is required"
          },
          password: {
            required: "This filed is required",
            minlength: "Password should be minmum 5 charcater"
          },
      
        },
        submitHandler: function(form) {
          form.submit();
        }
      }));
  });
</script>
    

   