<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Error</title>
  </head>
  <body>
    <h1><%= message || "Error" %></h1>

    <% if (error && error.status) { %>
      <p>Status: <%= error.status %></p>
    <% } %>

    <% if (error && error.stack) { %>
      <pre><%= error.stack %></pre>
    <% } %>
  </body>
</html>
