<%- include('../common/header'); -%>
<%- include('../common/sidebar'); -%>


<div class="main-content">
  <div class="form-group col-12 ">
    <section class="section">
      <div class="section-header">
        <h1>Change Password</h1>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="section-body">
            <form action="/Update_password" id="addForm" method="post">
              <div class="col-12 col-md-12 col-lg-12">
              <div class="form-group floating-addon">
                  <label for="password">Old Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-key"></i>
                      </div>
                    </div>
                  </div>
                  <input id="OldPassword" type="password" maxlength="18" class="form-control" name="oldPassword" placeholder="Old Password" tabindex="1" required autofocus>
                </div>
              </div>
              <div class="form-group floating-addon">
                <div class="col-12 col-md-12 col-lg-12 mt-sm-3">
                  <label for="password">New Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-lock"></i>
                      </div>
                    </div>
                  </div>
                  <input id="newPassword" type="password" maxlength="18" class="form-control" name="newPassword" placeholder="New Password"tabindex="2" required autofocus>
                </div>
              </div>
              <div class="form-group floating-addon">
                <div class="col-12 col-md-12 col-lg-12 mt-sm-3">
                  <label for="confirm_password">Confirm Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-lock"></i>
                      </div>
                    </div>
                  </div>
                  <input id="confirm_password" onkeyup="validate()" type="password" maxlength="18" class="form-control" name="confirm_password" placeholder="Confirm Password" tabindex="3" required autofocus>
                  <span id="message"></span>
                </div>
              </div> <br>
              <div class="form-group">
                <div class="col-8 col-md-6">
                  <button type="submit" class="btn btn-primary btn-lg" tabindex="4">
                    Save changes
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
      
<%- include('../common/footer'); -%>


<script>
  setTimeout(function () {
    $("div.msg").fadeOut();
  }, 2000);
</script>

<style>
  .error {
color: red !important;
}
</style>


<script>
 $(document).ready(function() {

jQuery.validator.addMethod("noSpace", function(value, element) {
    return value == '' || value.trim().length != 0;
});

jQuery.validator.addMethod("emailExt", function(value, element, param) {
    return value.match(/^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/);
}, 'Your e-mail is wrong');

$('form[id="addForm"]').validate({
    rules: {
        oldPassword: {
            required: true,
            noSpace: true,
           
        },
        newPassword: {
            required: true,
            noSpace: true,
            minlength: 5,
            maxlength: 12
        },
        confirm_password: {
            required: true,
            noSpace: true,
            minlength: 5,
            maxlength: 12,
            equalTo: "#newPassword" // Use "#" before the ID of the field to match against
        },
    },
    messages: {
        oldPassword: {
            required: "This field is required.",
            noSpace: "Space not allowed",
            checkOldPassword: 'Old password is incorrect.'
        },
        newPassword: {
            required: "This field is required.",
            noSpace: "Space not allowed",
            minlength: "New password should have at least 5 characters",
            maxlength: "New password should have at most 12 characters"
        },
        confirm_password: {
            required: "This field is required.",
            noSpace: "Space not allowed",
            minlength: "Confirm password should have at least 5 characters",
            maxlength: "Confirm password should have at most 12 characters",
            equalTo: "Confirm password does not match"
        },
    },
    submitHandler: function(form) {
        form.submit();
    }
});
});

</script>