<%-include('../common/header');-%>
<%-include('../common/sidebar');-%>

<!-- Main Content -->
  <div class="main-content">
    <div class="form-group col-12"> 
    <section class="section">
      <div class="section-header">
        <h1> Add Tools</h1>
      </div>
      <div class="card">
        <div class="card-body">
          <form action="/add_tools" id="addForm" enctype="multipart/form-data" method="post">
            <div class="row mt-sm-4 justify-content-center ">
              <div class="col-12 col-md-12 col-lg-10 offset-lg-0 ">
            <div class="row">
              <div class="form-group col-12 floating-addon">
                <label for="name">Tool Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-user"></i>
                    </div>
                  </div>
                </div>
                <input id="tool_name" type="text" class="form-control" name="tool_name" placeholder="Tool name"required>
              </div>
              </div> 
                <button type="submit" class="btn btn-info" >
                Submit
              </button>
              </div>
            </div>
          </form>
        </div>
      </div>
  </section>
</div>
</div>
 

<%- include('../common/footer'); -%>


<style>
  .error {
color: red !important;
}
</style>

<script>
  $(document).ready(function() {

    jQuery.validator.addMethod("noSpace", function(value, element) {
        return value == '' || value.trim().length != 0;
      },

      jQuery.validator.addMethod("emailExt", function(value, element, param) {
        return value.match(/^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/);
      }, 'Your e-mail is wrong'),


      $('form[id="addForm"]').validate({


        keypress: function(element) {

          var element_id = $(element).attr('id');
          if (this.settings.rules[element_id].keypress !== false) {
            $(element).valid();
          }
        },

        rules: {
          
          tool_name: {
            required: true,
            noSpace: true,
            maxlength: 20
          },
        
        },
        messages: {

            tool_name: {
            required: "This field is required.",
            noSpace: "Space not allowed",
            maxlength: "Title should be 20 charcater"
          },
          
        },
        submitHandler: function(form) {
          form.submit();
        }
      }));
  });
</script>

